@import url("https://fonts.googleapis.com/css2?family=Poppins&family=Questrial&family=Roboto&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Poppins", sans-serif;
  background-image: linear-gradient(rgba(65, 66, 34, 0.5), rgb(78, 74, 15)),
    url("/logo-bg.png");
  height: 100vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
}
.elite_content {
  width: 90%;
  max-width: 1200px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3rem;
}

.elite_logo-img {
  width: 100%;
  max-width: 400px;
}

.elite_menu {
  max-width: 400px;
  display: flex;
  flex-wrap: wrap;
}

.elite_menu-el {
  border: 2px solid #000;
  width: 180px;
  height: 180px;
  margin: 0.5rem;
  font-size: 18px;
  font-weight: 700;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 10px;
  transition: 0.5s;
  cursor: pointer;
}

.elite_menu-el i {
  font-size: 70px;
}

.elite_menu-el:hover {
  background-color: #000;
  color: #fff;
}
.popup_home {
  position: absolute;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  text-align: justify;
  display: none;
}

.home-article {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.popup_home-header {
  font-size: 32px;
  margin: 2rem auto;
  text-align: center;
  font-weight: normal;
}

.home-close {
  position: absolute;
  top: 10px;
  left: 10px;
  color: #fff;
  cursor: pointer;
  transition: 0.5s;
  font-size: 32px;
}

.popup_location {
  background:
    /* top, transparent black, faked with gradient */ linear-gradient(
    rgba(0, 0, 0, 0.7),
    rgba(0, 0, 0, 0.7)
  );
  font-size: 32px;
  position: absolute;
  width: 100%;
  max-width: 100vw;
  height: 100vh;
  display: none;
}

.popup_location i {
  position: absolute;
  top: 20%;
  left: 20%;
  color: #000;
  cursor: pointer;
}

.popup_kontakt {
  background:
  /* top, transparent black, faked with gradient */ linear-gradient(
    rgba(0, 0, 0, 0.7),
    rgba(0, 0, 0, 0.7)
  );
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  z-index: 3;
  display: none;
}

.kontakt_header {
  font-size: 32px;
  width: 100%;
  text-align: center;
  color: #fff;
  font-weight: 400;
  margin-top: 0;
  margin: 2rem auto;
}

.popup_background {
  width: 50vw;
  position: relative;
  padding: 3rem;
  padding-top: 0 !important;
  background-color: #302c34;
}

.contact-info {
  display: flex;
  flex-direction: column;
  text-align: left;
  font-size: 30px;
  flex-wrap: wrap;
  max-width: 400px;
  width: 100%;
}

.contact-info a {
  overflow-wrap: break-word;
  color: #fff;
  transition: 0.5s;
  text-decoration: none;
  display: flex;
  gap: 5px;
  z-index: 2;
}

.contact-info a i {
  margin-right: 1.5rem;
  text-align: center;
}

.contact-info a:hover {
  color: #ffd313;
}

.contact-info a:before {
  font-size: 42px;
}

#contact-hand {
  position: absolute;
  right: 20px;
  bottom: 0;
  transform: rotate(-23deg);
  font-size: 125px !important;
  z-index: 1;
  color: #ffd313;
}

.kontakt-close {
  position: absolute;
  top: 10px;
  left: 10px;
  color: #fff;
  font-size: 32px;
  cursor: pointer;
  transition: 0.5s;
}

.active {
  display: flex;
}

footer {
  width: 50%;
  margin: auto;
  text-align: center;
}

.elite_footer {
  background-color: rgba(0, 0, 0, 0.6);
  display: inline-block;
  padding: 10px 30px;
  color: #fff;
  margin-bottom: 1rem;
  font-size: 18px;
}

@media (max-width: 712px) {
  .elite_content {
    width: 100%;
    padding: 1rem 0.5rem;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }
  .elite_menu {
    display: flex;
    justify-content: center;
  }
  .elite_menu-el {
    width: 150px;
    height: 150px;
  }
  footer {
    width: 95%;
  }
}
